/* @font-face {
	font-family: ;
	src: url("") format("");
	font-weight: normal;
	font-style: normal;
	font-display: auto;
} */

.list-group{
	list-style: none;
	padding: 0px;
}

img.LeftImage
{
    width: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
}
img.RightImage
{
    width: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
    align-self: flex-end;
}
body 
{
    background-image: linear-gradient(90deg, #2f5b38, #907849 70%);
    overflow: hidden; /* Hide scrollbars */
}

.zipbox
{
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  margin: 0;
  text-align: center;
}

.themap
{
  position: absolute;
  top: 48%;
  left: 0;
  width: 100%;
  margin: 0;
  text-align: center;
}

.text 
{
	font-family: "Yanone Kaffeesatz";
	font-size: 100px;
	display: flex;
	position: absolute;
  top: 0;
	left: 50%;
	transform: translateX(-50%);
	user-select: none;

	.wrapper {
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 5px;
		.letter {
			transition: ease-out 1s;
			transform: translateY(40%);
		}
		.shadow {
			transform: scale(1, -1);
			color: #F2E8CF;
			transition: ease-in 5s, ease-out 5s;
		}
		&:hover {
			.letter {
				transform: translateY(-200%);
			}
			.shadow {
				opacity: 0;
				transform: translateY(200%);
			}
		}
	}
}