@keyframes transitionIn {
	from 
	{
		
		transform: translateY(0);
	}

	to 
	{
		
		transform: translateY(50);
	}
}

@keyframes transitionLetter {
	from
	{
		transform: translateY(0);

	}

	to 
	{
		transform: translateY(-200);
	}
}

@keyframes transitionInMainDiv {
	from 
	{
		height: 0%;
		width: 0%;
		
	}

	to 
	{
		height: 900px;
		width: 1500px;
	}
}
@keyframes transitionNavBar {
	from
	{
		opacity: 0;
	}
	to
	{
		opacity: 100;
	}
}
@keyframes transitionBox {
	from
	{
		width: 0%;
		height: 0%;
		opacity: 0;
	}
	to
	{
		width: 100%;
		height: 100%;
		opacity: 100;
	}
}

@keyframes transitionBoxExit {
	from
	{
		width: 100%;
		height: 100%;
		opacity: 100;
		
	}
	to
	{
		width: 0%;
		height: 0%;
		opacity: 0;
	}
}

/* CSS HEX */
/* --celadon: #91c499ff;
--cal-poly-green: #28502eff;
--dark-moss-green: #44652aff;
--goldenrod: #e0a800ff;
--office-green: #146600ff; */

.btn_btn-success
{
	width: 90px;
}
table
{
	width: 100%;
	table-layout: fixed;
}
.content-table
{
    font-size: 20px;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.content-table thead, tr
{
	border: 2px solid black;
	color: white;
	text-align:left;
	font-weight: bold;
}

.content-table th,
.content-table td
{
	font-weight: 500;
	padding: 10px 3px;
}

.content-table tbody, tr
{
	border-bottom: 1px solid;
}

.content-table tbody, tr:nth-of-type(even)
{
	background-color: black;
}



  .sort-button {
	background-color: transparent;
	border: none;
	padding: 5px 10px;
	margin: 0;
	line-height: 1;
	font-size: 15px;
	color: black;
	cursor: pointer;
	transition: transform 0.05s ease-out;
  }
  
  .sort-reverse {
	transform: rotate(180deg);
  }

.html, body{
	overflow: scroll;
	background-color: black;
}

.ListTransitionBox[data-active="1"]
{
	position: absolute;
	z-index: 9;
	background-color: #E0A800 ;
	width: 100%;
	height: 100%;
	animation: transitionBox 0.9s;
	overflow: scroll;
}

.ListTransitionBox[data-active="0"]
{
	position: absolute;
	z-index: 9;
	background-color: #E0A800;
	width: 0%;
	height: 0%;
	animation: transitionBoxExit 0.5s;
	background-color: #2f5b38 ;
	overflow: scroll;

}


.InstructionsTransitionBox[data-active="1"]
{
	position: absolute;
	z-index: 9;
	background-color: #E0A800;
	width: 100%;
	height: 100%;
	animation: transitionBox 0.9s;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

.InstructionsTransitionBox[data-active="0"]
{
	position: absolute;
	z-index: 9;
	background-color: #E0A800;	
	width: 0%;
	height: 0%;
	animation: transitionBoxExit 0.5s;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}



.instructionsDiv
{
	
	background-color: #E0A800;
	border-style:ridge;
	border-radius: 15px;
	padding: 20px;
	border-width: 10px;
	display: flex;
	align-self: center;
	margin-left: 20%;
	margin-right: 25%;
	margin-top: 2%;
	height: 50%;
	width: 60%;
}

#instructionsPara
{
	display: flex;
	font-size: 35px;
	color: black;
	height: 50%;
	justify-content: center;
	align-self: center;
}


.site-title{
	font-size: 2rem;
	color: #e0a800ff;
}

.nav {
	
	background-color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
	padding: 0 1rem;
}

.nav #listItem
{
	animation: transitionNavBar 8s;
}

.nav ul {
	padding: 0;
	margin: 1rem;
	list-style: none;
	display: flex;
	gap: 1rem;
}

.nav a {
	
	text-decoration: none;
	padding: 2;
}



.nav li.active{
	background-color: #555;
}

.bodyDiv{
	position: absolute;
	background-color: black;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	margin-right: 40px;
}

.mainDiv 
{
	animation: transitionInMainDiv 4s;

  background-color: #E0A800;
  border: 15px solid #7AB885;
  filter: brightness(90%);
  border-radius: 15px;
  height:900px;
  width: 1500px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: 0;
  transform: translate(-50%, -50%);
  overflow-x: hidden;
  overflow-y: hidden;

}

.theMap
{
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	overflow:auto;
	float: inline-start;
	box-sizing: border-box;	
	
}

.tff
{
	display: flex;
	justify-content: flex-end;
	float: right;
    width: 150px;
    border-radius: 10px;
} 

.twc
{
	display: flex;
	justify-content: flex-end;
	float: right;
    width: 150px;
    border-radius: 10px;
}

.zipbox
{
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 30%;
  left: 26%;
  width: 50%;
  margin: 0;
  text-align: center;
  
}


.titleText 
{
	
	font-family: "Yanone Kaffeesatz";
	font-size: 50px;
	display: flex;
	position: absolute;
	justify-content:flex-end;
	height: 0;
  	top: 0;
	left: 50%;
	transform: translateX(-50%);
	user-select: none;

	.wrapper {
		
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 5px;
		.letter {
			transition: ease-out 1s;
			transform: translateY(40%);
		}
		.shadow {
			animation: transitionIn 4.91s;
			transform: scale(1, -1);
			color: #F2E8CF;
			transition: ease-in 5s, ease-out 5s;
		}
		.letter{
			animation: transitionLetter 5.91s;
		}
		&:hover {
			.letter {
				transform: translateY(-200%);
			}
			.shadow {
				opacity: 0;
				transform: translateY(200%);
			}
		}
	}
}