

@keyframes transitionIn {
	from 
	{
		
		transform: translateY(0);
	}

	to 
	{
		
		transform: translateY(50);
	}
}

@keyframes transitionLetter {
	from
	{
		transform: translateY(0);

	}

	to 
	{
		transform: translateY(-200);
	}
}

@keyframes transitionInMainDiv {
	from 
	{
		height: 0%;
		width: 0%;
		
	}

	to 
	{
		height: 100%;
		width: 100%;
	}
}

@keyframes transitionNavBar {
	from
	{
		opacity: 0;
	}
	to
	{
		opacity: 100;
	}
}


.nav {
	animation: transitionNavBar 8s;
	background-color: black;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
	padding: 0 1rem;
}

.nav a {
	color: inherit;
}

.nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	gap: 1rem;
}


.html, body{
	overflow: scroll;
	background-color: black;
	
	
}

.bodyDiv{
	animation: transitionInMainDiv 4s;
	position: absolute;
	background-color: black;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	margin-right: 40px;
	
	
	
}

/* .MyMap
{
  position: absolute;
  width: 40%;
  height: 40%;
  left: -40 / 2;
  top: 40 / 2;
  border: 5px solid #f44336;
  border-radius: 40;
  background-color: white;
  text-align: center;
  color: #3f51b5;
  font-size: 16;
  font-size: small;
  padding: 4;
  
  
  
} */

.mainDiv 
{
  /* background-color: #C05800; */
  transform: translateZ(42px);
  background-image: linear-gradient(#2f5b38, #1d8f33 );
  border: 15px solid #a0930a;
  border-radius: 15px;
  height:900px;
  width: 1500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-x: hidden;
	overflow-y: hidden;
	
	

}

.theMap
{
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	overflow:auto;
	float: inline-start;
	box-sizing: border-box;	
	
}

.tff
{
	float: right;
    width: 150px;
    border-radius: 10px;
} 

.twc
{
	float: left;
    width: 150px;
    border-radius: 10px;
}

.zipbox
{
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 30%;
  left: 26%;
  width: 50%;
  margin: 0;
  text-align: center;
  
}


.text 
{
	
	font-family: "Yanone Kaffeesatz";
	font-size: 50px;
	display: flex;
	position: absolute;
	justify-content:flex-start;
	height: 0;
  	top: 0;
	left: 50%;
	transform: translateX(-50%);
	user-select: none;

	.wrapper {
		
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 5px;
		.letter {
			transition: ease-out 1s;
			transform: translateY(40%);
		}
		.shadow {
			animation: transitionIn 4.91s;
			transform: scale(1, -1);
			color: #F2E8CF;
			transition: ease-in 5s, ease-out 5s;
		}
		.letter{
			animation: transitionLetter 5.91s;
		}
		&:hover {
			.letter {
				transform: translateY(-200%);
			}
			.shadow {
				opacity: 0;
				transform: translateY(200%);
			}
		}
	}
}